<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Displays site properly based on user's device -->
    <link rel="icon" type="image/png" sizes="32x32" href="/account-img/images/favicon-32x32.png">
    <title>Account Management</title>

    <link rel="stylesheet" href="/account-css/style.css">
</head>
<body>
    <header style="position: absolute;">
		<div class="logo">
			<h2>Online Banking</h2>
		</div>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
        <a class="logout" href="#"><button>Logout</button></a>
    </header>
    <main class="wrapper">
        <div class="image__wrapper">
            <div class="image__wrapper_inner">

            </div>
            <img class="box" src="/account-img/images/illustration-box-desktop.svg" alt="box">
        </div>
        <div class="accordion__wrapper">
            <h1 class="title__accordion">Account Management</h1>
            <div class="questions__accordions">
                <div class="question-answer__accordion">
                    <div class="question">
                        <h3 class="title__question">
                            Savings
                        </h3>
                        <img src="/account-img/images/icon-arrow-down.svg" >
                    </div>
                    <div class="answer">
                        Account Number: {{savingsAccountno}}
                    </div>
                    <div class="answer">
                        Balance: Rs. {{savingsBalance}}
                    </div>
                    <div class="answer">
                        <a class="logout" href="#"><button>Delete</button></a>
                    </div>
                </div>

                <div class="question-answer__accordion">
                    <div class="question">
                        <h3 class="title__question">
                            Current
                        </h3>
                        <img src="/account-img/images/icon-arrow-down.svg" >
                    </div>
                    <div class="answer">
                        Account Number: {{currentAccountno}}
                    </div>
                    <div class="answer">
                        Balance: Rs. {{currentBalance}}
                    </div>
                    <div class="answer">
                        <a class="logout" href="#"><button>Delete</button></a>
                    </div>
                </div>

                <div class="question-answer__accordion">
                    <div class="question">
                        <h3 class="title__question">
                            Home Loan
                        </h3>
                        <img src="/account-img/images/icon-arrow-down.svg" >
                    </div>
                    <div class="answer">
                        Account Number: {{loanAccountno}}
                    </div>
                    <div class="answer">
                        Balance: Rs. {{loanBalance}}
                    </div>
                    <div class="answer">
                        <a class="logout" href="#"><button>Delete</button></a>
                    </div>
                </div>

                <div class="question-answer__accordion">
                    <div class="question">
                        <h3 class="title__question">
                            Credit Card
                        </h3>
                        <img src="/account-img/images/icon-arrow-down.svg" >
                    </div>
                    <div class="answer">
                        Account Number: {{creditAccountno}}
                    </div>
                    <div class="answer">
                        Balance: Rs. {{creditBalance}}
                    </div>
                    <div class="answer">
                        <a class="logout" href="#"><button>Delete</button></a>
                    </div>
                </div>
                

            </div>
        </div>
    </main>
    
    <script src="/account-script/script.js"></script>
</body>
</html>